@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&family=Patrick+Hand&family=Tapestry&display=swap');
* {margin: 0px; padding: 0px; border: 0px;}

.tudo{margin-left: auto;
    margin-right: auto; 
    width: 1150px;
    padding: 4px; 
    margin-top: 10px; 
    border: 2px solid black;
    background-color: rgb(160, 150, 180);
}
.cor{
 
  border: 2px solid black;
  background-color: rgb(136, 129, 151);
}

    header {height: 80px; 
        width:1100px;
        margin-left: auto; 
        margin-right: auto; 
        margin-bottom: 4px; 
        padding: 8px;
        border: 2px solid black;
        background-image: url('../img/banner2.jpg') ;}
        .logo{height:60px;
          width: 100px;
          float:left; 
          margin: 2px;   
          border: 2px  black;
          background-image: url();}
        .espaco{height: 60px;
          width: 850px; 
          float: left; 
          margin: 2px;  
          border: 2px solid black;}
        .perfil{height: 30px;
          width: 30px;
          float: left;
          border: 2px black;
          margin-left: 950px;
        }

      nav { width: 1115px; 
            height: 40px;
            border: 2px black solid; 
            margin-left: auto; 
            margin-right: auto; 
            margin-bottom: 4px;
            font-family:"Tapestry","Old Standard TT","italic" ;

           }
        .principal{
            float:left;
            border: 2px  rgb(0, 0, 0);
            margin: 2px;
            margin-top: 5px;
            margin-left: 120px;
            padding: 2px;
           }
           .sport{
            float:left;
            border: 2px  rgb(0, 0, 0);
            margin: 2px;
            margin-top: 5px;
            margin-left: 120px;
            padding: 2px;
           }
           .classic{
            float:left;
            border: 2px  black;
            margin: 2px;
            margin-top: 5px;
            margin-left: 120px;
            padding: 2px;
           }
           .raro{
            float:left;
            border: 2px  black;
            margin: 2px;
            margin-top: 5px;
            margin-left: 120px;
            padding: 2px;
           }
           .conheça-nos{
            float:left;
            border: 2px  black;
            margin: 2px;
            margin-top: 5px;
            margin-left: 120px;
            padding: 2px;
           }
      main{ height: 1000px;
        width:1100px;
        margin-left: auto; 
        margin-right: auto; 
        margin-bottom: 4px;
        padding: 8px; 
        border: 2px black;}
        .descrição{border: 2px solid black;
            height: 300px;
            width: 320px;
            margin-top: 600px;
            margin-left: 400px;
            font-size: 18px;
            font-style: italic;
        }
      
      footer {height:170px; 
        width: 1100px;  
        margin-left: auto; 
        margin-right: auto;
        margin-bottom: 4px;  
        padding: 8px; 
        border: 2px solid black;
        background-image: url('../img/banner2.jpg');}
      
      .rodape {
        height: 100px;
        width: 500px;
        border: 2px  black;
        margin-left: 400px;
        font-size: 18px;
        font-style: italic;
      }

        .content{
            height: 550px;
            width: 900px;
          overflow: hidden;
          position: absolute;
          margin-left: 100px;
          border: 2px solid black
          }
          
          .navigation{
            position: absolute;
            bottom: 20px;
            left: 40%;
            display: flex;
          }
          .bar{
            width: 20px;
            height: 20px;
            border: 2px solid #fff;
            margin: 6px;
            border-radius: 20px;
            cursor: pointer;
            transition: .6s;
          }
          
          .bar:hover{
            background: #fff;
          }
          
          input{
            display: none;
          }
          
          .slides{
            display:flex;
            width: 400%;
            height: 100%;
          }
          .slide{
            width: 25%;
            transition: .6s;
          }
          
          .slide img{
            height: 100%;
            width: 100%
          }
          
          #slide1:checked ~ .s1{
          margin-left: 0%;
          }
          #slide2:checked ~ .s1{
            margin-left: -25%;
          }
          #slide3:checked ~ .s1{
            margin-left: -50%;
          }
          #slide4:checked ~ .s1{
            margin-left: -75%;
          }
          nav .principal:hover {color: rgb(69, 16, 100);cursor: pointer;}
          nav .sport:hover {color: rgb(69, 16, 100);cursor: pointer;}
          nav .classic:hover {color: rgb(69, 16, 100);cursor: pointer;}
          nav .raro:hover {color: rgb(69, 16, 100);cursor: pointer;}
          nav .conheça-nos:hover {color: rgb(69, 16, 100);cursor: pointer;}

          .descrição{font-family:"Patrick Hand","Old Standard TT","italic" ;}

